.portfolio-overlay {
	color: $over-txt-color;
	margin: 0;
	padding-top: 63px;
	padding-bottom: 63px;
	padding-left: 24px;
	padding-right: 24px;
	font-size: 18px;
	line-height: 1.55;
	letter-spacing: 0.03em;
	background-color: rgba(33, 150, 243, 0.9);
	opacity: 0;
	pointer-events: none;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 0px;
	overflow: hidden;
	transform: translate(0%, 100%);
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item {
	&:hover {
		.portfolio-overlay {
			height: 100%;
			opacity: 1;
			transform: translate(0%, 0%);
		}
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	}
	a {
		&:focus {
			.portfolio-overlay {
				height: 100%;
				opacity: 1;
				transform: translate(0%, 0%);
			}
		}
	}
	&:focus-within {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	}
	img {
		display: block;
	}
}
.portfolio-image {
	position: relative;
	overflow: hidden;
}
.portfolio {
	display: flex;
	flex-wrap: wrap;
	li {
		margin-right: 30px;
		margin-bottom: 30px;
		&:nth-last-child(-n + 3) {
			margin-bottom: 0;
		}
		&:nth-child(3n + 0) {
			margin-right: 0px;
		}
	}
	a {
		color: $main-txt-color;
		text-decoration: none;
	}
}
.item-border {
	border-left: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 20px;
	padding-top: 20px;
}
.porfolio {
	.overlay {
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 1.55;
		letter-spacing: 0.03em;
	}
}
.description {
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;
	color: $sec-txt-color;
	margin-top: 4px;
	margin-bottom: 0;
}
