// main-colors
$main-bg-color: #ffffff;
$sec-bg-color: #f5f4fa;
$footer-bg-color: #2f303a;
$footer-ico-bg: #ffffff;
$features-bg-color: #f5f4fa;
$main-txt-color: #212121;
$sec-txt-color: #757575;
$over-txt-color: #ffffff;
$accent-color: #2196f3;
